option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: ./server
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /static
    value: /static