option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: go run server.go -http=:3000
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /static
    value: /static